@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  src: url("../fonts/Gilroy/Gilroy-Extrabold.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  src: url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nekst";
  font-weight: 900;
  src: url("../fonts/Nekst/Nekst-Black.ttf") format("truetype");
}
